*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

/home/minerva/Documents/programming/Hackathon/CampaigningNinja/node_modules/
/home/minerva/Documents/programming/Hackathon/CampaigningNinja/public/data/db/
